/* public styles */
.w {
  width: 1240px;
  margin: 0 auto;
}

/* shortcut */
.shortcut {
  height: 52px;
  background-color: #333;
}

.shortcut ul {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 52px;
}
.shortcut li a {
  color: #fff;
}
.shortcut li a:hover {
  color: #5eb69c;
}
.shortcut .line {
  width: 1px;
  height: 12px;
  background-color: #999;
  margin: 0 15px;
}
.shortcut li i {
  font-size: 18px;
  margin-right: 4px;
}

.shortcut li:first-child a {
  color: #5eb69c;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
  /* background-color: pink; */
}
.header .logo {
  height: 79px;
  width: 220px;
  background-color: white;
}
.header .logo h1 {
  width: 100%;
  height: 100%;
}

.header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/logo.png) no-repeat;
  text-indent: -999px;
  overflow: hidden;
}

.nav{
  display: flex;
  gap: 20px;
}

.nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
}

.nav li a:hover {
  color: #5eb69c;
  border-bottom: 2px solid #5eb69c;
}

.search input{
  width: 170px;
  height: 40px;
  border-bottom: 2px solid #f4f4f4;
  padding-left: 28px;
  font-style: 16px;
}
.search input {
  font-size: 16px;
  color: #ccc;
}
.cart i {
  font-size: 40px;
  margin-right: 15px;
}

/* footer */
.footer {
  height: 580px;
  background-color: #f5f5f5;
}
.slogen {
  height: 178px;
  border-bottom: 1px solid #e8e8e8;
}
.slogen ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 178px;
}

.slogen ul li {
  display: flex;
  align-items: center;
}
.slogen ul li h5 {
  height: 58px;
  width: 58px;
  background: url(../images/sprite.png);
}

.slogen ul li p {
  font-size: 20px;
  margin-left: 20px;;
}

.slogen ul li .second {
  background-position: 0 -58px;
}

.slogen ul li .third {
  background-position: 0 -116px;
}

.slogen ul li .fourth {
  background-position: 0 -174px;
}

.service {
  display: flex;
  gap: 48px;
  margin-top: 60px;
}

.service dt {
  font-size: 18px;
  margin-bottom: 30px;
}

.service dd {
  margin-bottom: 10px;
}

.service dd a {
  color: #969696;
}

.service dd a i {
  color: #00be9a;
}

.copyright {
  text-align: center;
  margin-top: 100px;
  line-height: 30px;
  color: #a1a1a1;
}

.copyright a {
  color: #a1a1a1
}